body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items .item:not(:last-child) {
    margin-right: 15px;
}

#header {
    padding: 10px 15px;
}

#header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header nav > div:not(:last-child) {
    margin-right: 30px;
}

#header .google-apps svg {
    width: 24px;
    height: 24px;
    fill:rgb(95, 99, 104);
}

#header .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#header .secondary-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#header .secondary-menu a:hover {
    background-color: rgba(60,64,67,0.08);
}



#footer {
    background-color: #f2f2f2;
    font-size: 15px;
}

#footer a {
    color: rgba(0, 0, 0, 0.54);
}

#footer section {
    padding: 15px 30px;
}

#footer section:first-child {
    border-bottom: 1px solid #dadce0;
}

#footer .footer-bottom {
    display: flex;
    justify-content: space-between;
}
