body {
    font-family: arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu-items {
    display: flex;
    align-items: center;
}

.menu-items .item:not(:last-child) {
    margin-right: 15px;
}

#header {
    padding: 10px 15px;
}

#header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header nav > div:not(:last-child) {
    margin-right: 30px;
}

#header .google-apps svg {
    width: 24px;
    height: 24px;
    fill:rgb(95, 99, 104);
}

#header .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

#header .secondary-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#header .secondary-menu a:hover {
    background-color: rgba(60,64,67,0.08);
}

#main {
    display: flex;
    justify-content: center;
}

.google-search-main-page header {
    margin-bottom: 25px;
}

.google-search-main-page header .logo-container {
    text-align: center;
}

.google-search-main-page section {
    margin-bottom: 30px;
}

.google-search-main-page .search-form .form-row {
    margin-bottom: 25px;
    text-align: center;
}

.google-search-main-page .search-form .search-input-container {
    position: relative;
    box-sizing: border-box;
    padding: 15px 44px;
    border: 1px solid #dfe1e5;
    border-radius: 23px;
}

.google-search-main-page .search-form .search-input-container:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.google-search-main-page .search-form .search-input-container .icon {
    position: absolute;
    display: block;
    top: 50%;
}

.google-search-main-page .search-form .search-input-container .search-icon {
    left: 22px;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
}

.google-search-main-page .search-form .search-input-container .search-icon svg {
    fill: #9aa0a6;
}

.google-search-main-page .search-form .search-input-container .microphone-icon {
    right: 22px;
    transform: translate(50%, -50%);
    width: 24px;
    height: 24px;
}

.google-search-main-page .search-form .search-input-container .microphone-icon:hover {
    cursor: pointer;
}

.google-search-main-page .search-form .search-input {
    width: 485px;
    height: 15px;
    border: none;
    outline: none;
}

.google-search-main-page .search-form .search-input:focus {
    outline: none;
}

.google-search-main-page .search-form .buttons button {
    box-sizing: border-box;
    display: inline-block;
    height: 35px;
    padding: 0 16px;
    line-height: 27px;
    font-size: 14px;
    color: #3c4043;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}

.google-search-main-page .search-form .buttons button:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.google-search-main-page .search-form .buttons button:first-child {
    margin-right: 5px;
}



#footer {
    background-color: #f2f2f2;
    font-size: 15px;
}

#footer a {
    color: rgba(0, 0, 0, 0.54);
}

#footer section {
    padding: 15px 30px;
}

#footer section:first-child {
    border-bottom: 1px solid #dadce0;
}

#footer .footer-bottom {
    display: flex;
    justify-content: space-between;
}
